
.info-section {
  height: 100vh;
}

.checkout-info {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
}

.gift-order {
  display: flex;
  align-items: center;
}

.gift-order p {
  font-size: 12px;
}

.checkout-container {
  display: flex;
  justify-content: flex-end;
}

.checkout-container .checkout-btn {
  text-transform: none !important;
  color: black !important;
  border-radius: 0.5rem !important;
  text-align: center;
  width: 25%  !important;
}

.cart-desc {
  background-color: white;
  min-height: 500px;
  padding: 1rem;
}

.decrease-btn {
  background-color: red !important;
  color: white !important;
  height: 30px;
}

.increase-btn {
  background-color: green !important;
  color: white !important;
  height: 30px;
}

.confirm-modal {
  width: 400px;
  position: absolute;
  top: 40%;
  left: 35%;
  background-color: white;
  padding: 2rem;
}

.confirm-btn {
  width: 40%;
}

.cancel-btn {
  background-color: red !important;
  color: white !important;
  margin-right: 2px !important;
}

.confirm-btn-btn {
  background-color: green !important;
  color: white !important;
}
